examples/demo_data/*
*.pkl
examples/experiments/resnet10_params.pkl
examples/experiments/pick_cube_sim/first_run/*


# Ignore all .pyc files in any directory
**/*.pyc

# Also good to ignore these Python-related files
__pycache__/
*.py[cod]
*$py.class
