examples/demo_data/*
*.pkl
examples/experiments/resnet10_params.pkl
examples/experiments/pick_cube_sim/first_run/*

# Ignore all .pyc files in any directory
**/*.pyc

# Also good to ignore these Python-related files
__pycache__/
*.py[cod]
*$py.class


hil_serl_env
serl_robot_infra/serl_robot_infra.egg-info/
MUJOCO_LOG.TXT

.venv

classifier_ckpt/
examples/experiments/pick_cube_sim/classifier_ckpt/
examples/experiments/pick_cube_sim/test1/
examples/experiments/pick_cube_sim/test2/
examples/experiments/pick_cube_sim/test3/